.center-public {
    width: 100%;
    overflow-y: auto;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 59px;
    background-color: #170f23;
    width: 100%;
}
